
<%= content_tag :div, :class => 'vs-rolls', data: {vs_rolls: @vs_rolls.dup} do %><% end %>
<%= content_tag :div, :class => 'vs-names', data: {vs_names: @bl.vs_names} do %><% end %>
<script type="text/javascript">setCookieVals()</script>

<%= form_for @bl, :remote => true do |f| %>
    <%= f.label :race_id %>
    <%= f.collection_select :race_id, Race.all, :id, :name, {:include_blank => true},
                            {:onchange => 'displayRaceTable(this.value);'} %>

    <br>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <br>

    <table>
      <tr>
        <td>
    <%= f.fields_for :base_vs do |ff| %>
      <%= ff.label 'strength' %>
      <%= ff.select :strength, @vs_rolls, {:include_blank => true},
                   {:onchange => 'updateRolls(this.value);', :class => 'vs-selector'} %>
      <%= ff.label 'dexterity' %>
      <%= ff.select :dexterity, @vs_rolls, {:include_blank => true},
                   {:onchange => 'updateRolls(this.value);', :class => 'vs-selector'} %>
      <%= ff.label 'iq' %>
      <%= ff.select :iq, @vs_rolls, {:include_blank => true},
                   {:onchange => 'updateRolls(this.value);', :class => 'vs-selector'} %>
      <%= ff.label 'agility' %>
      <%= ff.select :agility, @vs_rolls, {:include_blank => true},
                   {:onchange => 'updateRolls(this.value);', :class => 'vs-selector'} %>
      <%= ff.label 'constitution' %>
      <%= ff.select :constitution, @vs_rolls, {:include_blank => true},
                   {:onchange => 'updateRolls(this.value);', :class => 'vs-selector'} %>
      <%= ff.label 'aggression' %>
      <%= ff.select :aggression, @vs_rolls, {:include_blank => true},
                   {:onchange => 'updateRolls(this.value);', :class => 'vs-selector'} %>
      <%= ff.label 'intuition' %>
      <%= ff.select :intuition, @vs_rolls, {:include_blank => true},
                   {:onchange => 'updateRolls(this.value);', :class => 'vs-selector'} %>
      <%= ff.label 'charisma' %>
      <%= ff.select :charisma, @vs_rolls, {:include_blank => true},
                   {:onchange => 'updateRolls(this.value);', :class => 'vs-selector'} %>
    <% end %>
        </td>
        <td>
          Available scores:<br>
          <div id="rolls-list-target">
            <% @vs_rolls.each do |score| %>
                <%= score %> <br>
            <% end %>
          </div>
        </td>
      <tr>
    <%= f.fields_for :base_ss do |ff| %>
        <td>
        <%= ff.label :terrestrial_knowledge, :class => 'three-digit' %>
        <%= ff.text_field :terrestrial_knowledge, {:class => 'three-digit', :readonly => true} %>
        </td>
        <td>
        <%= ff.label :military_leadership, :class => 'three-digit' %>
        <%= ff.text_field :military_leadership, :class => 'three-digit', :readonly => true %>
        </td>
      </tr>
      <tr>
        <td>
        <%= ff.label :persuasion, :class => 'three-digit' %>
        <%= ff.text_field :persuasion, :class => 'three-digit', :readonly => true %>
        </td>
        <td>
        <%= ff.label :bargaining, :class => 'three-digit' %>
        <%= ff.text_field :bargaining, :class => 'three-digit', :readonly => true %>
        </td>
    <% end %>
      </tr>

      </tr>
    </table>


    <br>
    <%= f.submit("Create new Battlelord") %>

<% end %>
