
  <tr>
    <th>SS</th>
    <th>RP</th>
    <th>DD</th>
    <th>BP</th>
    <th>SMR</th>
  </tr>
  <tr>
    <td><%= @bl.base_ds.system_shock %></td>
    <td><%= @bl.base_ds.resurrection_percentage %></td>
    <td><%= @bl.base_ds.deaths_door %></td>
    <td><%= @bl.base_ds.body_points %></td>
    <td><%= @bl.base_ds.physical_bonus %></td>
  </tr>