<table class="nested">
  <tr>
    <th>SS</th>
    <th>RP</th>
    <th>DD</th>
    <th>BP</th>
    <th>SMR</th>
  </tr>
  <tr>
    <td><%= @bl.system_shock %></td>
    <td><%= @bl.resurrection_percentage %></td>
    <td><%= @bl.deaths_door %></td>
    <td><%= @bl.body_points %></td>
    <td><%= @bl.physical_bonus %></td>
  </tr>
</table>