<!DOCTYPE html>
<html>
  <head>
    <title>Battlelords</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <div class="top-nav">
      <%= link_to('+ Create Battlelord', new_battlelord_path) %><br>
    </div>

    <h1>Battlelord Name</h1>
    <br>
    <hr>


    <%= yield %>
  </body>



</html>
